
.top {
	background-color: white;  /* white */
	position: relative;
	left: 0;
	padding: 0;
	width: 100%;
	height: 20px;
	padding-top: 7px;
}

.wrapper {
	margin: 0 auto;
	width: auto;
}

.top p {
	font-size: 15px;		/* 16px로 올리는 순간 Memo 정렬이 어긋남.. 개골때리네... */
	line-height: 20px;
	background: #ffffff;	/* 최상단 나의메모, 로그인, 회원가입 배경색 */
}

.top p:hover {
	color: #a8a8a8;
}

.top_menu {
	display: inline;
}

.top_menu li {
	display: inline-block;
}

.top_menu .login {
	float: right;
	padding-right: 20px;
}

.top_menu .login a p {
	float: right;
	color: black;			/* 최상단 글자색 */
}

.top_menu .login:hover p {
	color: red;				/* 최상단 hover 글자색 */
}

header {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	align-content: center;
}

.header-wrap a {
	font-size: 3em;
	background: #ffffff;
	text-align: center;
	color: #443252;
}

nav ul {
	width: 100%;
	/* background-color: rgba(10, 42, 39, 0.983); */
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* 메뉴들이 나란히 나타날 수 있게 해주는 기능 */
nav ul li {
	display: inline-block;
}

/* 각 메뉴별로 공간이 나눠져 있는데, 각 공간의 사이즈 */
.menu {
	color: white;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

.menu a {
	color: #0c2d45;
	padding: 0px 35px;
	text-decoration: none;
	display: block;
}

.menu:hover:not(.home) {
	background-color: #ffd6ac;		/* NEW MEMO, OPEN LIST, CREATE TABLE hover시 배경색 */
	color: white;
}

/* div태그 메인 공간에 색깔 넣어둠 */
.main_bottom {
	margin: 30px;
	padding: 10px 10px;
	height: auto;
	text-align: center;
	background-image: linear-gradient(white 1.9000000000000001px, transparent 1.9000000000000001px),
		linear-gradient(to right, white 1.9000000000000001px, #eeeeee 1.9000000000000001px);
	background-size: 38px 38px;;
}

.signup_wrap {
	width: 500px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	background: #d1e9e9;
	opacity: 0.7;
}

form {
	border-radius: 0px 0px;
	width: 100%;
	height: 50%;
	text-align: left;
}

.signup_wrap label {
	font-size: 1em;
}

label {
	margin: 0px 0 8px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	width: 100%;
	display: inline-block;
	margin: 10px 0px 8px;
	padding: 0px 0px 0px 0px;
}

input[type="text"], [type="password"], [type="date"] {
	width: 50%;
	height: 30px;
	line-height: 2em;
	border: solid 1px;
	border-color: #A4A4A4;
	display: block;
/* 	margin-left: auto; */
	margin-right: auto;
	background: #fff;
	font-size: 15px;
}

input[type=submit] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #408080;
	color: #ffffff;
	border: none;
	position: relative;
	height: 60px;
	font-size: 1.6em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

input[type=submit]:hover {
	background: #fff;
	color: #408080;
}

