
.wrap {     
    width: 40%;
    margin: 0 auto;  
    padding: 20px 0px;  
}

form {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 10px 0px;
}

label {
    width: 100%;
    display: inline-block;
    margin: 10px 0px;    /* 위 오른쪽 밑 왼쪽*/
    padding: 0px 0px 0px 20px;
}

input {
    width: 40%;
    line-height: 2em;  /*현재 글자크기의 2배*/
    height: 2em;
}

input[type="submit"] {
    width: 90%;
    display: inline-block;
    margin: 10px;
    background: #918191;
    color: #fff;
    border: none;
    padding: 10px;
    height: 3em;
    font-size: large; 
    font-weight: bold;
    border-radius: 15px;
}

input[type="button"] {
    width: 90%;
    display: inline-block;
    margin: 10px;
    background: #918191;
    color: #fff;
    border: none;
    padding: 10px;
    height: 3em;
    font-size: large; 
    font-weight: bold;
    border-radius: 15px;
}
