
.wrap {     
    width: 90%;
    margin: 0 auto;  /* 가운데 맞춤*/
    padding: 20px 0px;  
}

table {
    border-collapse: collapse;  /* 설정안하면 모든 칸이 다 테두리가 보이게됨 */
    width: 100%;
    /* table-layout: fixed; 	 th 사이즈 고정*/
}

th {
    text-align: center;
    background: #999;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #f1f1f1;
    /*width: 10%;*/
}

td {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #f1f1f1;
}

